<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Lifeline Services</title>
    <link rel="stylesheet" href="/Content/sass/siteAngular.css">
    @Styles.Render("~/Content/razorCss")
</head>
    <body>
        <header id="header">
            <div>
                <nav>
                    <div class="row header-banner header">
                        <div class="col-sm-2">
                            <a href="/" class="header-logo">
                                <img src="/Content/img/SpinSolutions.png">
                            </a>
                        </div>
                    </div>

                    <div class="header-menu navbar">

                    </div>
                </nav>
            </div>
        </header>

        <div class="container">
            @RenderBody()
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/login")
        @RenderSection("scripts", required: false)
    </body>
</html>