@model LS.WebApp.Models.ResetPasswordViewModel

<section id="resetpassword-section" class="row">
    @using (Html.BeginForm("ResetPassword", "Authentication", FormMethod.Post, new { @class = "reset-password-form col-sm-6 col-sm-offset-3", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4 style="line-height:130%">To reset your password, please enter the email address associated with your account, then enter your new password.</h4>
        <hr />
        <strong>Password Requirements</strong><br />
        <ul>
            <li>At least one number</li>
            <li>At least one uppercase letter</li> 
            <li>At least one character that is not a letter or number</li> 
            <li>At least 8 characters long</li>
        </ul>
        <hr /><br />

        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)
        
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        <div class="form-group">
            
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default reset-button" value="Reset" />
        </div>
    }
</section>
